/* Hide ribbon */
.hider-ribbon .workspace-ribbon.mod-left {
  display:none;
}
.hider-ribbon .workspace-split.mod-left-split {
  margin-left:0;
}

/* Frameless */
.hider-frameless .titlebar-button-container {
  display:none !important;
}

/* Hide scrollbars */
.hider-scroll ::-webkit-scrollbar {
  display:none;
}

/* Hide status */
.hider-status .status-bar {
  display:none;
}

/* Hide tooltips */
.hider-tooltips .tooltip {
  display:none;
}